body{
    background-color: rgba(19, 192, 134, 0.742);
     justify-content: center;
     align-items: center;
     display:flex;
     height:100vw;
     margin:0px;
}
 .weather-box{
    background-color: white;
    padding:30px  45px;
    width:300px;
    border-radius: 15px;
    box-shadow: 10px 20px 30px burlywood;
 }
 h1{
   text-align: center;
   margin-bottom: 30px;
 }
 label{
    display: block;
    font-weight:bold;
    margin-bottom:5px;
 }
 input{
    width:100%;
    padding:5px;
    margin-bottom:15px;
    border-radius: 10px;
 }
 button{
    background-color:green;
    width:100%;
    padding:10px;
    border-radius:5px;
    color:white;
    border:none;
    cursor: pointer;
 }
 
